@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='file']::-webkit-file-upload-button {
  background: #26a69a;
  border: 1px solid gray;
  cursor: pointer;
  color: #fff;
  border-radius: 0.2em;
}
